<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Twitter Light{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Accueil</a>
        {% if 'user_id' in session %}
            <a href="{{ url_for('write') }}">Écrire un article</a>
            <a href="{{ url_for('logout') }}">Se déconnecter</a>
        {% else %}
            <a href="{{ url_for('login') }}">Se connecter</a>
            <a href="{{ url_for('register') }}">S'inscrire</a>
        {% endif %}
        {% if session.is_admin %}
        <p><a href="{{ url_for('admin') }}">Accéder à la page d'administration</a></p>
        {% endif %}

    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
